# Игнорируем файлы рабочего пространства
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Игнорируем папку с мусором
.trash/

# Игнорируем настройки плагина Git
.obsidian/plugins/obsidian-git/